{% extends 'base5.html.twig' %}

{% block title %}nouveau Facture{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Creer facture</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_facturemeca_index') }}">
                    Voir tout les factures
                </a>
            </div>
            <div class="card-body">
                {{ include('facturemeca/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}