{% extends 'base.html.twig' %}

{% block title %}New Expert{% endblock %}

{% block body %}
   <h1>Create new Expert</h1>

    {{ include('expert/_form.html.twig') }}

    <center><a class=' btn btn-primary ' href="{{ path('app_expert_index') }}">Back to list</a></center>
{% endblock %}
